

.montserrat {
    font-family: Montserrat, sans-serif;
}

.bg-grey {
    background-color: #F3F3F3;
}

.bg-blue {
    background-color: #4D8AF0;
}

.blue {
    color: #4D8AF0;
}

.dark-grey {
    color: #333333;
}

.bg-dark-grey {
    background-color: #333333;
}

.h-1 {
    font-weight: bold;
    font-size: 60px;
}

.h-2 {
    font-weight: bold;
    font-size: 40px;
}

.h-3 {
    font-weight: bold;
    font-size: 25px;
}

.h-4 {
    font-size: 20px;
}

.t {
    line-height: 30px;
    font-size: 17px;
    color: #57595e;
}

.muted-1 {
    color: #999999;
    font-size: 20px;

}

.muted-2 {
    color: #999999;
    font-size: 15px;

}

.ch {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.cf {
    font-weight: bold;
    font-size: 18px;
    color: #999999;
}

.bt {
    font-weight: bold; 
    font-size: 18px;
}

.br-25 {
    border-radius: 25px;
}

.footnote {
    font-size: 13px;
    color: #999999;
}

.ml-50 {
    margin-left: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-75 {
    margin-top:75px;
}

.mt-100 {
    margin-top:100px;
}

.mt-150 {
    margin-top:150px;
}

.h-50 {
    height: 50px;
}


.masonry { /* Masonry container */
    -webkit-column-count: 2;
  -moz-column-count:2;
  column-count: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1.5em;
    padding-left: 0em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item img{max-width:100%; height: auto;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .img {
        display: none;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .img {
        display: none;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}